body {
    background-color:#fff;
    font-family: 'Poppins', sans-serif;
    color: #053864;
}
h2{
  font-family: 'Black Han Sans', sans-serif;
  font-size:30px;
}

.navbar-brand {
  img {
    height: 45px;
  }
}

.navbar-light1{
  background: rgba(255, 255, 255, 0.54) !important;
  max-height:70px;
  .navbar-nav{
    .nav-link{
      color: #071C4D;

      &.active{
        font-weight: bold;
        color:#071C4D !important
      }
    }
  }
}

.btn-navbar-right{
  height:70px;
  border-radius: 0;
  background-color: #071C4D;
  color: #fff;
  margin-right:-15px !important;
  &:hover{
    background-color: #183b8b;
    color: #fff;
  }
}

//HEADER
header{
  padding:160px 0px 130px;
  background-image:url('img/header.png');
  background-size: cover;
  margin-top:-72px;

  img{
    max-height: 100px;
  }
  h1,p{
    color: #fff;
  }
  h1{
    font-family: 'Black Han Sans', sans-serif;
    font-weight: bold;
    font-size:60px;
    margin-top:50px;
  }
  p{
    font-size:22px;
    font-weight: lighter;
  }

  
}
.btn-order{
  background-color: #FFF716;
  color: #053864;
  font-weight: bold;

  &:hover{
    background-color: #fcff5efb;
  }
}

.section-tentang{
  margin-top:80px;
}

.section-konten-tentang{
  margin-top:50px;
  margin-bottom:20px;

  img{
    margin-top: -100px !important;
  }
  p{
    color: #767778;
    .first-text{
      font-weight: bold;
    }
  }
}

//BEST SELLER

.content-best-seller{
  background-color: #053864;
  height: 460px;
  margin-top: -400px;
}
.section-best-seller-content{
  margin-top:200px;
  .card-best{
    background-color: #fff;
    border-radius: 15px;
    max-height:400px;
    margin-bottom: 130px;

    .img-best{
      margin-top: -120px;
    }

    .best-seller-content{
      p{
        color: #767778;
      }
      h4, .harga{
        font-weight: bold;
      }
      .btn-pesan{
        background-color: #C20E0E;
        color: #fff;

        &:hover{
          background-color: #f54242;
        }
      }
    }
  }

  .btn-lihat-menu{
    background-color: #FFF716;
    color: #053864;
    font-weight: bold;

    &:hover{
      background-color: #fcff5efb;
    }
  }
}
.section-best-heading{
  margin-top: 10px;
}
.section-footer{
  li{
    a{
    color: #767778;

    &:hover{
      color: #053864;
    }
  }
}
  h5{
    font-weight: bold;
    font-size:25px;
  }

  .copyright{
    color: #767778;
    font-weight: lighter;
  }
}

//MENU
.navbar-light{
  color: #071C4D;
  height: 50px;
  padding: 0;
  .navbar-nav{
    .nav-link{
      color: #071C4D;

      &.active{
        font-weight: bold;
        color:#071C4D !important
      }
    }
  }
}

.section-menu{
  .col-menu{
    .breadcrumb{
      height: 100px;
      border-radius:0;
      .breadcrumb-item{
        &.active{
          font-weight: bold;
          color: #053864;
        }
      }
    }
  }
}

.section-keranjang{
  .nav-keranjang{
    height: 100px;
    text-align: right;
    padding-right:30px;
    
    a{
     color: #053864;
     font-weight: bold;
     &:hover{
      color: #123b99;
     }
    }
  }
}

.menu{
    background-color: #053864;
}
.menu-heading{
  h2{
    font-family: 'Black Han Sans', sans-serif;
    font-size:30px;
    color: #fff;
  }
}

//KERANJANG
.navbar-keranjang{
  .navbar-light{
    height: 40px;
    margin-top: 10px;
  }
}
.card-keranjang{
  padding: 20px;
  padding-bottom:10px;
  border-radius: 20px;
  background-color: #fff;
  margin-top:30px;
  margin-bottom:30px;
  table{
    td,th{
      text-align:center;
      vertical-align: middle;
    }
    .total{
      background-color: #f3f3f3;
      border-radius:20px;
      th,td{
        text-align: left;
      }
    }
  }
  .logokirim{
    img{
      margin-right:20px;
    }
  }
}
.card-struk{
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  p{
    font-size: 13px;
  }
}
.checkout-container{
  margin-top: -30px;
  width: 100%;
  background-color: #f7ef0f;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .btn-checkout{
    width: 100%;
    background-color: #f7ef0f;
    color: #053864;
    font-weight: bold;

    &:hover{
      background-color: #fcff5efb;
    }
  }
}

.btn-beranda{
  background-color: #053864;
    color:#FFF716 ;
    font-weight: bold;

    &:hover{
      background-color: #fcff5efb;
    }
}

.copyright{
  color: gray;
}